<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings configSource="private_appsettings.config">
    <!-- For own usage: 1) Remove configSource attribute above
                        2) Insert your values below
    <add key="EventorBaseUrl" value="https://eventor.orientering.no"/>
    <add key="OrgId" value="YOUR_NOR_ORGANISATION_ID"/>
    <add key="ApiKey" value="YOUR_NOR_APPKEY"/>
    <add key="EventorBaseUrl_SWE" value="http://eventor.orientering.se"/>
    <add key="OrgId_SWE" value="YOUR_SWE_ORGANISATION_ID"/>
    <add key="ApiKey_SWE" value="YOUR_SWE_APPKEY"/>-->
  </appSettings>
</configuration>